
a :hover{
    transform: scale(1.023) ;
    box-shadow: 3px 6px 6px 0 rgba(0,0,0,.11);
}

H1{
    text-align: center;
    background-color: saddlebrown;
    width: 60%;
    margin: auto;
}
h3{
    width: 60%;
    margin: auto;
    text-align: center;
    background-color: saddlebrown;
}
p{
               
    text-align: center;
        width: 60%;
        margin: auto;
    background-color: sandybrown;
    
}
div{
    background-color: sandybrown;
    width: 60%;
    margin: auto;

    
}
hr{
width: 60%;
margin: auto;
border-radius: 10px;
}
section {
    text-align: center;
    background-color: rgba(22, 87, 17, 0.476);
    width: 60%;
    margin: auto;
}





a.btn {
    width: 400px;
    height: 150px;
    background-color: #ddd;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s ease;
}
