h1 {
    text-align: center;
}
Section.Top{
background-color: firebrick;
height: 500px;
}

div.diagnal {
width: 0px;
height: 0px;
border-right: 100vw solid transparent;
border-bottom: 13.9vw solid rgb(255, 255, 255) ;
margin-top: -13.9vw;
}
Section.Bottom {
    background-color: rgb(255, 255, 255);
    height: 500px;
    float: right;
}
h1.center{
    position:absolute;
    font-size:5cm;
    top:25vh;
    left:40vw;
    
}
img {
    height: 250px;
   
}
