nav{
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 200px;
   background-color: #964734;
   height: 1000px;
   float: left;
 }
 a {
   display: block;
   color: black;
   padding: 8px 16px;
   text-decoration: none;
 }
a:hover {
   background-color: #555555;
   color: white;
 }
 h1 {
   text-align: center;
   background-color: #003135;
   margin: auto;


 }
 h2 {
   text-align: center;
   background-color: #024950;
   margin:auto;
 }
 p {
   background-color: rgb(53, 169, 169);
   text-align: center;
   height: 980px;
   margin: auto;
  
 }
 div {
   float: right;
   background-color: rgb(175, 221, 229);
   text-align: center;
   width: 35%;
   height: 980px;
 }
 #section {
   width: 50%;
 }
 #section2 {
   width: 50%;
 }
