h1{
    text-align: center;
    background-color: #2c2b30;
}
h4 {
    text-align: center;
    background-color: #4f4f51;
}
div {
    background-color: #4f4f51;
}
section.number1{
    float: left;
    text-align: center;
    padding: 70px;
}

section.number2{
    float: left;
    text-align: center;
    padding: 70px;
}

section.number3{
    float: left;
    text-align: center;
    padding: 70px;
}

section.number4{
    float: left;
    text-align: center;
    padding: 70px;
}

section.number5{
    float: left;
    text-align: center;
    padding: 70px;
}