H1{
    text-align: center;
    background-color: rgb(56, 51, 51);
    width: 60%;
    margin: auto;
    
}
h3{
width: 60%;
margin: auto;
text-align: center;
background-color: rgb(56, 51, 51);
}
img{
width: 60%;

}

p{

text-align: center;
    width: 60%;
    margin: auto;
background-color: rgb(196, 164, 75);
height: 100px;
}

hr{
width: 60%;
margin: auto;
border-radius: 10px;
}
body{
    text-align: center;
    margin: auto;
}
nav a{
    background-color: rgb(124, 158, 164);
    padding:0px 50px;
    border: solid black;
    text-align: center;
    width: 53.5%;
    margin: auto;
}



nav a:hover{
    background-color: blue;
}
