div{
    background-color: rgb(97, 120, 154);
    

}
div div {
    background-color: rgb(97, 120, 154);
    width: 45%;
    float: left;
}
div div div {
    background-color: rgb(213, 184, 147);
}
#card {
    background-color: rgb(213, 184, 147);
    padding: 10px;
    clear: both;
}
.links {
    background-color: rgb(111, 77, 56);
    clear: both;
    text-align: center;
}

.float {
    float: left;
    width: 50%;
    background-color: rgb(97, 120, 154);
}

body{
    width: 1366px;
    height: 768px;
    background-color: rgb(97, 120, 154);
}
h1{
    background-color: rgb(88, 190, 201);
    margin: 0px;
}
h2{
    background-color: rgb(70, 176, 208);
}
footer{
    
}
