table {
    margin: auto;
}
thead {color: rgb(179, 5, 5);}
            tbody {color: rgb(97, 188, 135);}
            tfoot {color: rgb(0, 118, 122);}
          
            table, th, td {
              border: 1px solid black;
              border-collapse: collapse; 
              padding: 8px;
              background-color: darkgreen;
            }